.btn-search {
    border: 1px solid #B0B7CA;
    border-radius: 6px;
    background: none;
    height: 40px;
    line-height: 40px;
    padding: 0;
    box-shadow: unset;
    -webkit-box-shadow: unset;
    -o-box-shadow: unset;
    -moz-box-shadow: unset;
    -ms-box-shadow: unset;
    margin: 0 0 0 20px;
    color: #B0B7CA;
}
.btn-search:hover{
	background-color: transparent;
	box-shadow: unset;
    -webkit-box-shadow: unset;
    -o-box-shadow: unset;
    -moz-box-shadow: unset;
    -ms-box-shadow: unset;
}

::-webkit-input-placeholder {
    color: #B0B7CA;
}

:-moz-placeholder {
    color: #B0B7CA;
}

::-moz-placeholder {
    color: #B0B7CA;
}

:-ms-input-placeholder {  
   color: #B0B7CA;
}
.btn-date {
    font-size: 13px !important;
    letter-spacing: 0.5px;
    border: 1px solid #d4d8e4 !important;
    border-radius: 6px !important;
    height: 36px !important;
    line-height: 40px;
    max-width: 105px;
    padding: 0 26px 0 15px !important;
    margin: 0 0 0 20px !important;
    color: #B0B7CA !important;
    background-image: url(img/icons/calendar.png) !important;
    background-position: 123px center;
    background-repeat: no-repeat;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 285px;
    padding: 5px;
    margin: 2px 0 0;
    font-size: 12px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #d4d8e4;
    border-radius: 6px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
}

.dropdown-menu thead {
    border-bottom: none;
}
.dropdown-menu th.datepicker-switch{
    color: #ff7d9a;
    background-color: transparent !important;
    border-bottom: 1px solid #dce0ed;
}
.dropdown-menu th.prev,.dropdown-menu th.next{
    background-color:transparent !important;
    color: #dce0ed !important;
    font-size: 15px;
    border-bottom: 1px solid #dce0ed;
}
.dropdown-menu td.day {
    padding: 0;
    width: 30px;
    height: 40px;
    color: #a7adbf;
}
.dropdown-menu td.day:hover,.dropdown-menu td.active.day{
    border-radius: 50%;
    background:#ff7d9a !important;
    color: #fff;
}
.dropdown-menu td.old.day,.dropdown-menu td.new.day{
    color: #e0e6f3;
}
.ml-20px{
    margin-left: 20px;
}

.btn-dropdown-select {
    border: 1px solid #d4d8e4;
    height: 40px;
    float: left;
    font-size: 13px;
    color: #B0B7CA;
    padding: 0;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.btn-dropdown-select > input.select-dropdown {
    font-size: 13px !important;
    letter-spacing: 0.5px;
    border: none !important;
    border-radius: 6px !important;
    height: 40px !important;
    line-height: 40px;
    max-width: 165px;
    padding: 0 18px 0 6px !important;
    margin: 0 0 0 0 !important;
    color: #B0B7CA !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn-dropdown-select span.caret {
    margin-right: 7px;
    color: #666;
}
.action-btn-wapper span.caret {
    margin: 17px 17px 0 0;
}
.btn-dropdown-select ul.select-dropdown {
    padding-top: 47px;
}
.btn-dropdown-select ul.dropdown-content {
    width: auto !important;
    white-space: nowrap;
}

.btn-mini-dropdown-select {
    border: 1px solid #d4d8e4;
    height: 40px;
    float: left;
    font-size: 13px;
    color: #B0B7CA;
    padding: 0;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.btn-mini-dropdown-select > input.select-dropdown {
    font-size: 13px !important;
    letter-spacing: 0.5px;
    border: none !important;
    border-radius: 6px !important;
    height: 40px !important;
    line-height: 40px;
    max-width: 65px;
    padding: 0 18px 0 18px !important;
    margin: 0 0 0 0 !important;
    color: #B0B7CA !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn-mini-dropdown-select span.caret {
    margin-right: 7px;
    color: #dce0ed;
}
.btn-mini-dropdown-select ul.select-dropdown {
    padding-top: 47px;
}
.btn-mini-dropdown-select ul.dropdown-content {
    width: auto !important;
    white-space: nowrap;
}
.table-type1 thead th:first-child {
    padding:12px 0 0 17px !important;
}
#personal-profile thead th:nth-child(4) {
    background-position: 65px 17px !important;
}
#personal-profile thead th:nth-child(5) {
    background-position: 109px 17px !important;
}
#personal-profile thead th:nth-child(6) {
    background-position: 60px 17px !important;
}
#personal-profile td.bulk label {
    padding: 0;
    margin: 10px 0 0 15px;
}
.table-type1 thead th {
   /*-------- Comment by Trupti Barad 4-aug-18 ---------*/
  /*  color: #B0B7CA !important;
    font-weight: 300 !important;*/
    color: black !important;
    font-weight: bold !important;
    
    font-size: 12px !important;
    letter-spacing: 0.30px;
    padding:0 10px !important;
    line-height:25px;
}
.table-type1 [type="checkbox"] + label{
    padding-left: 0;
   /* margin: 0 0 0 8px;*/
}
td.profil-img {
    text-align: center;
    vertical-align: middle;
}
th.sort-date {
    background-position: 43px 8px !important;
}
th.sort-date.sorting_asc, th.sort-date.sorting_desc {
    background-position: 43px 10px !important;
}
table.dataTable.display.table-type1 tbody tr td:first-child {
    border-radius: 6px;
}
table.dataTable.display.table-type1 tbody tr td:last-child {
    border-radius: 6px;
}
table.dataTable.display.table-type1 tbody tr {
    border-radius: 6px;
}
table.dataTable.display.table-type1 tbody tr td:first-child { border-top-left-radius: 10px; }
table.dataTable.display.table-type1 tbody tr td:last-child { border-top-right-radius: 10px; }
table.dataTable.display.table-type1 tbody tr td:first-child { border-bottom-left-radius: 10px; }
table.dataTable.display.table-type1 tbody tr td:last-child { border-bottom-right-radius: 10px; }
.table-type1 tbody td {
    color: #38373c;
    font-size: 14px;
}
table.dataTable.display.table-type1 tbody tr td .text-gray {
   /* comment by Trupti barad -Change Small color to dark grey - 27-Sep-18
   color: #a0a9ac; */
   color: #333;
    text-align: left;
    font-weight: 300;
    font-size: 12px;
}
table.dataTable.display.table-type1 tbody tr td .text-gray .material-icons {
    width: auto;
    font-size: 12px;
    margin: 5px;
    float: left;
}
i.action-dot{
    background: url('img/icons/action-dot.png') no-repeat center;
    float: left;
    width: 100%;
    height: 100%; 
}
.dropdown-button.action-more {
    float: left;
    width: 3px;
    height: 15px;
    padding: 12px;
    cursor: pointer;
}
.bulk.location-drop {
    float: left;
    line-height: 40px
}

.bulk.location-drop i.material-icons.globe {
    margin: 8px 0 0 0;
    float: right;
}
th.comp-sort-name {
    background-position: 43px 10px !important;
}
.btn-theme-disabled {
    border: 1px solid rgb(176,183,202);
    color: rgb(176,183,202);
    position: relative;
    min-width: 100px;
    background: transparent;
    font-size: 12px;
    box-shadow: unset;
    -moz-box-shadow: unset;
    -webkit-box-shadow: unset;
    -o-box-shadow: unset;
    -ms-box-shadow: unset;
}
.btn-theme-border{
    border: 1px solid #7864e9;
    color: #7864e9;
    box-shadow: none;
    position: relative;
    min-width: 100px;
    background: transparent;
    font-size: 12px;
}
.status-action {
    float: left;
    width: 8px;
    height: 15px;
    padding: 12px 0;
    cursor: pointer;
}
.status-action .action-status-icon{
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    width: 100%;
    height: 100%;
}
.status-action.activate .action-status-icon{
    background-image: url('img/icons/action-activate.png');
}
.status-action.deactivate .action-status-icon{
    background-image: url('img/icons/action-deactivate.png');
}
.deactivate-row td{
    opacity: 0.2;
}
.deactivate-row .action-tab{
    opacity: 1;
}
.deactivate-row .action-tab .dropdown-button.action-more, .deactivate-row .action-tab .status-action{
    opacity: 0.2;
}
td{
    text-overflow: ellipsis;
    white-space: nowrap;
}
th.comp-sort-name {
    background-position: 49px 4px !important;
}
th.comp-sort-name.sorting_asc, th.comp-sort-name.sorting_desc {
    background-position: 49px 8px !important;
}
th.comp-bank-sort {
    background-position:99px 4px !important;
}
th.comp-bank-sort.sorting_asc, th.comp-bank-sort.sorting_desc {
    background-position:99px 4px !important;
}
td.profil-img img {
    width: 40px;
    vertical-align:middle;
}
th.pers-sort-name {
    background-position: 48px 7px !important;
}
th.pers-sort-name.sorting_asc, th.pers-sort-name.sorting_desc {
    background-position: 48px 9px !important;
}
th.pers-sort-access {
    background-position: 60px 7px !important;
}
th.pers-sort-access.sorting_asc, th.pers-sort-access.sorting_desc {
    background-position: 60px 9px !important;
}
td.status-paid {
    color: #4ef1ae !important;
    font-weight: 300;
    letter-spacing: 0.5px;
}
.dropdown-content li .material-icons{
    color: #000;
}

ul.page-nav{
    margin:0 0 0 20px;
}
ul.page-nav li {
    float: left;
    margin: 0px;
    padding: 0;
    height: 39px;
    line-height: 39px;
}

ul.page-nav li a{
    padding: 0;
}
ul.page-nav li a {
    padding: 0 10px;
    min-width: 20px;
    height:38px;
    float: left;
    color: #3c3d41;
    border-radius: 3px
    font-size:12px;
}
ul.page-nav li.active a {
    background: #50f1ae;
    color: #fff;
}
ul.page-nav li.prev a {
    background: #fff url('img/icons/arrow-o-circle-left.png') no-repeat center;
    padding: 18px;
    box-shadow: 0 1px 3px #e8e7ec;
    -webkit-box-shadow: 0 1px 3px #e8e7ec;
    -o-box-shadow: 0 1px 3px #e8e7ec;
    -moz-box-shadow: 0 1px 3px #e8e7ec;
    -ms-box-shadow: 0 1px 3px #e8e7ec;
}
ul.page-nav li.next a {
    background: #fff url('img/icons/arrow-o-circle-right.png') no-repeat center;
    padding: 18px;
    box-shadow: 0 1px 3px #e8e7ec;
    -webkit-box-shadow: 0 1px 3px #e8e7ec;
    -o-box-shadow: 0 1px 3px #e8e7ec;
    -moz-box-shadow: 0 1px 3px #e8e7ec;
    -ms-box-shadow: 0 1px 3px #e8e7ec;
}