#cke_1_contents{
	height:100px !important;
}
.cre-cfredit{
    padding: 3px 18px !important;
}
.cre-cfredit span.caret{
    color: #7864e9!important;
}
input#cd_note_no {
  color: #000;
  padding: 3px 0px 0 20px;
  width: 91%;
  border-radius: 4px;
  font-size: 14px !important;
}
.modal input.select-dropdown{
  padding: 0 10px !important;
}
a.view_invoice{
  float: right !important;
  display: inline-flex;
  margin: -10px 0px 0 0 !important;
}
.ad-pay-foote {
width: 400px!important;
}
.grandt-total {
  border: none;
}

.nature_iv {
  padding: 5px 0 2px 0;
}

.row.billing-add {
  padding: 5px 0 0 0 !important;
}
.select-wrapper.tabl-select{
  margin: -6px -6px -6px -6px;
}

.service_drp .select-wrapper {
  padding: 8px 0 !important;
}
span.hoveraction {
top: -5px !important;
}
.info-tooltipped{
  right: auto;
  top: unset;
}


/*----------START SEARCH DROPDOWN CSS--------*/
.select2-container--default .select2-selection--single {
  border:none;
}
input[type="search"]:not(.browser-default) {
  height: 30px;
  font-size: 14px;
  margin: 0;
  border-radius: 5px;

}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 12.5px;
  line-height: 27px;
  color: #000;

}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 34px;
}
.select2-search--dropdown {
  padding: 0;
}
input[type="search"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #bbb;
  box-shadow: none;
}
.select2-container--default .select2-selection--single:focus {
    outline: none;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #fffaef;
  color: #666;
}
.select2-container--default .select2-results > .select2-results__options {
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0px 2px 6px #B0B7CA;
}
.select2-dropdown {
  border: none;
  border-radius: 5px;
}
.select2-container .select2-selection--single {
	height: 37px;
    padding: 6px;
    border: 1px solid #d4d8e4;
    background: #fff;
    border-radius: 5px;
}
.select2-results__option[aria-selected] {
  border-bottom: 1px solid #f2f7f9;
  padding: 14px 16px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #d0d0d0;
    padding: 0 0 0 15px !important;
    width: 96%;
    max-width: 100%;
}
.select2-search__field::placeholder {
  content: "Search Here";
}
.select2-container--open .select2-dropdown--below {
  margin-top: 0;
}
.select2-container {
  width: 100% !important;
}
input.select2-search__field {
  text-transform:uppercase;
}
ul#select2-currency-results {
  width: 97%;
}
/*----------END SEARCH DROPDOWN CSS--------*/

/*----------ANIKET CSS START------------*/
   table.scrol {
   width: calc(100% + 300px);
   }
   table.tabs-class td,
   th {
   padding: 5px !important;
   }
   .invoi-drop.btn-dropdown-select > input.select-dropdown {
   height: 42px !important;
   margin: 0 !important;
   }
   .row.billing-add {
   padding: 0;
   }
   .textbox-tabl {
   margin: 0 !important;
   }
   table.scrol-id input.select-dropdown {
   padding: 0 10px !important;
   }
   .advance-pay {
   width: calc(100% - 76px) !important;
   }
   .enter {
   margin-top: 36px !important;
   }
   .inner{
   padding: 0;
   margin: 0;
   }
   span.hoveraction {
   left: 0;
   box-shadow: none;
   }
   .scroll-hover-cover {
   float: right;
   }
  @media only screen and (max-width: 1300px)
{
  .fix {
    width: 98px !important;
  }
}
.btn-dropdown-select > input.select-dropdown {
  height: 50px !important;
}
/*.service_drp .select-wrapper .select-dropdown {
    height: 40px !important;
}*/
   /*----------ANIKET CSS END------------*/
#add_po .co_hsn{
	width:90px;
}

#add_po .co_rate{
	width:108px !important;
}

#add_po th.four-th p {
    margin: 0 0 0 6px !important;
}

#add_po .co_qty {
    width: 44px;
}

#add_po .co_rate, .co_dis, .co_taxamt{
	text-align:center;
}

#add_po th.sec-th p {
    text-align:center;
}

#add_po th.five-th p {
    text-align:center;
}

#add_po th.cgsts h6{
	text-align:center !important;
    margin: -1px 0 -17px 27px;
}

#add_po th.cgsts span {
	margin: 21px 0 -30px 9px;
}

#add_po th.cgsts p{
	margin: 21px 0 0 46px;
}

#add_po .select-wrapper input.select-dropdown {
	display:none;
}

#add_po .btn-dropdown-select span.caret {
	display:none;
}
#add_po .btn-dropdown-select {
	font-size:13px;
	font-style:normal;
}

#add_po .sales-in-drop {
    height: 43px !important;
	width: auto !important;
	top: -6px;
	left: 0px;
	opacity: 1;
}

#equi_save{
	background-color:#7864e9 !important;
}

#equiModal h4 {
    width: 89%;
    font-size: 20px;
    font-weight: 500;
    float: left;
    color: #352d5e;
	margin: -1.86rem 0px 0.912rem 22px !important;
}

#equiModal{
	overflow:hidden;
}
#equiModal input:focus{
	border-left:3px solid #ff7d9a !important;
}
.footer_btn{
	height:38px !important; line-height: 38px;
}
#add_po .select-wrapper input.select-dropdown {
  display:none;
}

#add_po .btn-dropdown-select span.caret {
  display:none;
}
#add_po .btn-dropdown-select {
  font-size:15px;
  font-style:normal;
  background-color: white!important;
}

#add_po .sales-in-drop{
  color:black !important;
  height: 38px !important;
  width: 124px !important;
  top: -7px;
  left: 0px;
  opacity: 1;
}

.last-sec{
    margin: -54px 0 0 0 !important;
}

/*.select-wrapper .select-dropdown {
	border: 1px solid #d4d8e4 !important;
	border-bottom:1px solid #d4d8e4 !important;
}*/
	.refrance p {
		font-size: 11px !important;
	}
	
	#add_po .create-bil-suyp{
	  color:black !important;	
	  height: 38px !important;
	  width: 190px !important;
	  top: -3px;
	  left: -5px;
	  opacity: 1; 
	  font-size:13px;
	}
	
	#add_po .sales-in-drop .dropdown-content{
		display:none !important;
	}
	
	.info-tooltipped{
		margin-top:-8px !important;
	}
	
	.first{
		margin-top:15px !important;
	}
	
	#set_terms{
		margin-left:0px !important;
		padding-right:0px;
		margin-top:-5px !important;
	}
	
	#set_default_terms + label{
		padding-left:25px !important;
		margin:15px 0px 0px 0px !important;
	}
	
	.ad-pay-foote {
		width: 21.1% !important;
	}
	
	.btn-dropdown-select > input.select-dropdown {
		max-width: 80% !important;
	}
	
	table.inter {
		width: calc(76% + 330px) !important;
	}
	
	table.v_inter{
		width: calc(78% + 250px) !important;
	}
	
	.plain-page-header {
		padding: 30px 0 15px 0 !important;
	}
	.invno{
		background-color:#fff;
		margin: 10px 0 0 -7px !important;
		padding: 0px 0 8px 13px !important;
		border-radius:5px;
		width:206px !important;
		height:31px !important;
	}
	.bglight{
		background-color:#eef2fe !important;
		border-radius:5px; 
	}
	.expdate {
		letter-spacing: 0.5px;
		border: 1px solid #d4d8e4 !important;
		border-radius: 6px !important;
		height:32px !important;
		line-height: 45px;
		padding: 3px 0px 0 6px !important;
		margin: 0 0 0 0 !important;
		background-color:#fff !important;
	}
	.poadd{
		background-color:#fff !important;
		height:auto !important;
		border-radius:5px !important;
		padding:10px 0 10px 10px !important;
		width: 96%;
		margin: 7px 0 0 0px !important;
		font-size: 14px;
	}
	.top-row-1{
		height:255px !important; 
	}
	.addplusicon i {
		color: #ff7d9a !important;
	}
	.pnk{
		color:#ff7d9a !important;
	}