body{
	background-color: #F9FAFA !important;
}

.header-body {
	font-family: Arial;
	font-size: 23px;
	margin-top: 40px;
	margin-left: 50px;
	font-weight: bold;
}

.main-body {
	text-align: center;
	margin-top: 9%;
}

.main-body p {
	font-family: Arial;
	font-size: 23px;
}

ul.breadcrumb {
	margin-top: -15px;
	margin-bottom: 40px;
	padding: 0 0;
	list-style: none;
	background-color: #F9FAFA;
	color: grey;
}
ul.breadcrumb li {
	display: inline;
	font-size: 12px;
}
ul.breadcrumb li+li:before {
	padding: 4px;
	color: grey;
	content: "/\00a0";
}
ul.breadcrumb li a {
	color: grey;
	text-decoration: none;
}
ul.breadcrumb li a:hover {
	color: #7863E8;
}

.button-body {
	text-align: center;
	margin-top: 30px;
}

.button-body button {
	background-color: #7863E8;
	border: none;
	border-radius: 5px;
	color: white;
	font-family: Arial;
	font-size: 15px;
	padding: 15px 20px;
}

.search {
	margin-left: 50%;
	margin-top: -90px;
}

.search input[type=search] {
	border: none;
	font-weight: bold;
	font-size: 17px;
	font-style: italic;
	padding: 8px 20px;
	background-color: red;
	border-radius: 5px;
}