.forgot_email label.error{
padding-top: 12px;
}

.modal-loader {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
background: url(./assets/images/logo/loader.gif) center no-repeat;
}

.dataTables_length {
margin-left: 500px;
}

.eazy{
font-weight:900%;
}

/*.dot {
height: 100px;
width: 100px;
background-color: #FF7D9A;
border-radius: 50%;
display: inline-block;
}*/

input#login_submit{
width:60% !important;
padding-right:20px !important;
background: #8533ff !important;
color:white !important;
border:none !important;
}

input#login_submit:hover{
background: #8533ff !important;
color:white !important;
border:none !important;
}

.logo_style_2{
height:55px !important;
}